@use "sass:color";
@use "../abstracts/vars" as *;

@mixin light-theme {
  --text-primary: #{$neutral-950};
  --text-secondary: #{$neutral-900};
  --background-primary: #{$neutral-50};
  --background-secondary: white;
  --background-tertiary: #{$neutral-200};
  color-scheme: light;
}

@mixin dark-theme {
  --text-primary: #{$neutral-50};
  --text-secondary: #{$neutral-100};
  --background-primary: #{$neutral-950};
  --background-secondary: #{$neutral-900};
  --background-tertiary: #{$neutral-800};
  color-scheme: dark;
}

body,
:root {
//   --app-color-white: #{$app-color-white};
//   --app-color-black: #{$app-color-black};
//   --app-color-ads: #{$app-color-ads};
//   --app-color-background-highlight: #{$app-color-light-theme-yellow-10};
//   --app-color-dark-grey: #{$app-color-neutral-70};
//   --app-background-dark: #{$app-theme-dark-background-primary};
//   --app-background-light: #{$app-theme-light-background-primary};
//   --app-background-light-grey: #{$app-color-neutral-10};
//   --color-announcement-banner-accent: #{$app-color-light-theme-pink-40};
  background: var(--background-primary);
  color: var(--text-primary);
}

.light {
  @include light-theme;
}

.dark {
  @include dark-theme;
}

// OS Default.
:root:not(.light):not(.dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}
