@use "../../styles/abstracts/vars" as *;
@use "../../styles/abstracts/mixins" as *;

@mixin navbar--dimension {
  height: #{$navbar-height};
  width: #{$app-width};
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--background-tertiary);
  background: var(--background-secondary);
}

.navbar {
  @include navbar--dimension();
  @include position();
}
